.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.grow {
  flex-grow: 1;
}
.min-h-screen {
  min-height: 100vh;
}
.text-center {
  text-align: center;
}
.justify-center {
  justify-content: center;
}
.sticky {
  position: sticky;
}