/* User Stylesheet overrides */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Utilities */

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.grow {
  flex-grow: 1;
}
.min-h-screen {
  min-height: 100vh;
}
.text-center {
  text-align: center;
}
.justify-center {
  justify-content: center;
}
.sticky {
  position: sticky;
}
.top {
  top: 0px;
}

:root {
  --spacing-base: 2px;
}

.p-sm {padding: calc(var(--spacing-base) * 1);}
.p-md {padding: calc(var(--spacing-base) * 3);}
.p-lg {padding: calc(var(--spacing-base) * 5);}

/* Section specific */

.section-hero {
  background-image: url("assets/fjords.webp");
  background-position: center;
  background-size: cover;
}
.section-about {
  background-image: url(assets/max-kleinen-ohQinqTl_DE-unsplash.webp);
  background-position: center;
  background-size: cover;
}
.section-projects {
  background-image: url(assets/moon-phases.webp);
  background-position: center;
  background-size: cover;
}
.section-contact {
  background-image: url(assets/earth.jpg);
  background-position: center;
  background-size: cover;
}

/* Materials */

.glass-smoked {
  background: rgba( 119, 119, 119, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.5px );
  -webkit-backdrop-filter: blur( 11.5px );
}
