* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.grow {
  flex-grow: 1;
}
.min-h-screen {
  min-height: 100vh;
}
.text-center {
  text-align: center;
}
.justify-center {
  justify-content: center;
}
.sticky {
  position: sticky;
}
.top {
  top: 0px;
}

.section-hero {
  background-image: url("assets/fjords.webp");
  background-position: center;
  background-size: cover;
}
.section-about {
  background-image: url(assets/max-kleinen-ohQinqTl_DE-unsplash.webp);
  background-position: center;
  background-size: cover;
}
.section-projects {
  background-image: url(assets/moon-phases.webp);
  background-position: center;
  background-size: cover;
}
.section-contact {
  background-image: url(assets/earth.jpg);
  background-position: center;
  background-size: cover;
}